// Colors
$text-color: #4b5d68;
$title-color: #212353;

// Fonts
$main-font-family: 'Avenir';
$title-font-family: 'Helvetica';
$medium-font-size: 18px;
$small-font-size: 16px;
$large-font-size: 40px;
